@font-face {
	font-family: BeauRegular;
	src: local('BeauRegular'),
		url(/../fonts/BeauRegular.ttf);
}

body {
	margin: 0 auto;
	max-width: 800px;
	padding: 0 20px;
	font-family: BeauRegular;
}

/*.chat-wrapper {
	border:  3px solid darkcyan;
	border-radius: 10px;
	padding: 20px;
}*/

.chat-message {
	border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.chat-message::after {
	clesr: both;
}

.darker {
	border-color: #ccc;
	background-color: #ddd;
}

.chat-message img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}


.time-left {
    float: left;
    color: #999;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.85%;
}
